@{
    ViewData["Title"] = "Calculator";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="calculator">
    	<div class="row">
        	<div class="col-md-6">
              <h1 id="Title">Calculator</h1>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-default pml-auto">Clear</button>
			</div>
        </div>
    </div>
</div>

</body>
</html>